---
import EventCard from "../components/EventCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getPastEvents, getUpcomingEvents } from "../utils/events";

const upcomingEvents = await getUpcomingEvents();
const pastEvents = await getPastEvents();
---


<BaseLayout title="Events" pageTitle="Events">
    <div>
        <h1 class="text-3xl font-bold mb-6">Kommende Events / Upcoming Events</h1>
    </div>
    <div class="space-y-8 mb-12">
        {upcomingEvents.map((event) => (
            <EventCard event={event} />
        ))}
    </div>
    <div>
        <h1 class="text-3xl font-bold mb-6">Vergangene Events / Past Events</h1>
    </div>
    <div class="space-y-8">
        {pastEvents.map((event) => (
            <EventCard event={event} />
        ))}
    </div>        
</BaseLayout>
