---
import BaseLayout from "../layouts/BaseLayout.astro";
import EventCard from "../components/EventCard.astro";
import { getSortedEvents } from "../utils/events";
import type { EventData } from "../types/event";
import OrgaTeam from "../components/OrgaTeam.astro";
import Sponsors from "../components/Sponsors.astro";
import Downloads from "../components/Downloads.astro";
import Collaborations from "../components/Collaborations.astro";

const events = (await getSortedEvents()).slice(0, 3);
---
<BaseLayout title="Home">
    <div>
        <p class="text-lg font-bold text-gray-600">
            Gute Software durch stete Verbesserung
        </p>
        <p>
            Der PHP USERGROUP DRESDEN e.V. ist eine Interessensgemeinschaft von PHP-Enthusiasten. Unser Ziel ist es, Wissen rund
            um PHP und Softwareentwicklung im Allgemeinen aufzubauen und zu teilen. Egal ob erfahrene Entwickler/innen,
            Studenten/innen oder Freiberufler/innen, jeder ist willkommen und kann sich einbringen. Wir veranstalten
            regelmäßig Meetups, organisieren uns für Ausflüge zu Workshops und besuchen gemeinsam Konferenzen.
        </p>
    </div>
    <div class="space-y-8">
        {events.map((event: EventData) => (
            <EventCard event={event} />
        ))}

        <div><a href="/events">Übersicht aller geplanten und vergangenen Events</a></div>
    </div>
    <div class="space-y-8">
        <Downloads />
    </div>
    <div class="space-y-8">
        <OrgaTeam />
    </div>
    <div class="space-y-8">
        <Sponsors />
    </div>
    <div class="space-y-8">
        <Collaborations />
    </div>
</BaseLayout>
