---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Satzung";
---
<BaseLayout pageTitle={pageTitle}>
    <main class="prose mx-auto py-8 px-4">
        <h2 class="text-3xl font-bold text-gray-600 mb-2">Satzung</h2>

        <h3 class="text-lg font-bold text-gray-600">§ 1 Name, Sitz und Geschäftsjahr</h3>
        <p>Der Verein führt den Namen "PHP USERGROUP DRESDEN". Er soll in das Vereinsregister eingetragen werden und führt nach der Eintragung den Zusatz "e.V." im Namen</p>
        <p>Der Sitz des Vereins ist Dresden. Das Geschäftsjahr ist das Kalenderjahr.</p>

        <h3 class="text-lg font-bold text-gray-600">§ 2 Zweck, Aufgaben, Gemeinnützigkeit des Vereins</h3>
        <p>Zweck des Vereins ist die herstellerunabhängige Förderung von Technologien, Prozessen, Plattformen und Werkzeugen in allen Bereichen der Softwareentwicklung, im Besonderen PHP und allgemein Web-Technologien. Dabei soll insbesondere allen Interessierten (Softwareentwickler, Freiberufler, Software-Architekten, Studenten, Lehrkräfte der Hochschulen etc.) die Möglichkeit gegeben werden, sich mit der Softwareentwicklung im Allgemeinen und der Web-Technologie sowie der Entwicklung von PHP-Anwendungen im Speziellen, sowie angrenzenden Themen auseinanderzusetzen. Insbesondere soll der Verein: allen Interessierten ein Podium geben, ihr Wissen und ihre Erfahrungen im Rahmen des Vereins mit Anderen zu teilen, die Weiterbildung durch Vermittlung von theoretischen Erkenntnissen und praktischen Erfahrungen im Bereich der Softwareentwicklung fördern, die Zusammenarbeit mit Firmen und Hochschulen im Rahmen wissenschaftlicher Veranstaltungen und Studien zum Thema fördern und regelmäßige Vortrags- und Diskussions- Veranstaltungen durchführen.</p>

        <h3 class="text-lg font-bold text-gray-600">§ 3 Mitgliedschaft</h3>
        <p>Jede natürliche Person, welche die Ziele des Vereins unterstützt, kann Mitglied werden.</p>
        <p>Der Aufnahmeantrag ist schriftlich zu stellen. Der Verein stellt ein Antragsformular zur Verfügung, welches beim Antrag auf Aufnahme als Mitglied zu verwenden ist. Bei Minderjährigen ist die Beitrittserklärung vom gesetzlichen Vertreter zu unterschreiben. Jedes Mitglied ist dazu verpflichtet, seine Kontaktdaten immer auf dem aktuellen Stand zu halten. Dazu gehören die Adresse, insbesondere die E-Mail Adresse und die Kontoverbindung.</p>
        <p>Ein Aufnahme-Anspruch besteht nicht.</p>
        <p>Die Ablehnung erfolgt durch den Vorstand und muss nicht begründet werden.</p>
        <p>Die Mitgliedschaft endet durch Austritt, Ausschluss oder Tod. Der Austritt ist schriftlich gegenüber dem Vorstand zu erklären. Die Frist für den Austritt aus dem Verein beträgt einen Monat zum Ende des Geschäftsjahrs.</p>
        <p>Der Ausschluss durch den Vorstand mit sofortiger Wirkung ist möglich, wenn ein Mitglied gegen die Ziele und Interessen des Vereins im überdurchschnittlichen Maße verstoßen hat. Dem Mitglied muss vor der Beschlussfassung Gelegenheit zur Rechtfertigung bzw. Stellungnahme gegeben werden.</p>
        <p>Amtierende Vorstandsmitglieder dürfen nicht nach § 3 Absatz 6 der Satzung aus dem Verein ausgeschlossen werden.</p>

        <h3 class="text-lg font-bold text-gray-600">§ 4 Mitgliedsbeitrag</h3>
        <p>Der Mitgliedsbeitrag beträgt mindestens 1 Euro pro Monat. Die Mitgliederversammlung entscheidet über die tatsächliche jährliche Beitragshöhe.</p>
        <p>Der Mitgliedsbeitrag ist für das laufende Kalenderjahr im Voraus zu entrichten.</p>
        <p>Im Falle des Austritts (§3, Absatz 5) werden bereits gezahlte Mitgliedsbeiträge nicht erstattet. Mit dem Austritt aus dem Verein gehen Ansprüche des Vereins auf Zahlung rückständiger Mitgliedsbeiträge nicht unter.</p>

        <h3 class="text-lg font-bold text-gray-600">§ 5 Organe des Vereins</h3>
        <p>Organe des Vereins sind die Mitgliederversammlung, der Vorstand.</p>

        <h3 class="text-lg font-bold text-gray-600">§ 6 Mitgliederversammlung</h3>
        <p>In der Mitgliederversammlung hat jedes Mitglied nur eine Stimme. Eine Ausübung des Stimmrechts durch einen Dritten ist ausgeschlossen.</p>
        <p>Die ordentliche Mitgliederversammlung findet einmal jährlich im ersten Quartal statt. Außerdem muss eine Mitgliederversammlung einberufen werden, wenn das Interesse des Vereins es erfordert oder wenn mindestens 1/5 der Mitglieder die Einberufung schriftlich unter Angabe des Zwecks und der Gründe verlangt. Jede Mitgliederversammlung ist vom Vorstand schriftlich unter Einhaltung einer Einladungsfrist von vier Wochen und unter Angabe der Tagesordnung einzuberufen.</p>
        <p>Versammlungsleiter ist der 1. Vorsitzende und im Falle seiner Verhinderung der stellvertretende Vorsitzende. Sollten beide nicht anwesend sein, wird ein Versammlungsleiter von der Mitgliederversammlung gewählt. Ein Schriftführer wird vom Versammlungsleiter bestimmt.</p>
        <p>Jede ordnungsgemäß einberufene Mitgliederversammlung ist ohne Rücksicht auf die Zahl der erschienenen Mitglieder beschlussfähig. Die Beschlüsse der Mitgliederversammlung werden mit einfacher Mehrheit der abgegebenen gültigen Stimmen gefasst. Zur Änderung der Satzung und des Vereinszwecks ist jedoch eine Mehrheit von 3/4 der abgegebenen gültigen Stimmen erforderlich. Über die Beschlüsse der Mitgliederversammlung ist ein Protokoll aufzunehmen, das vom Versammlungsleiter und dem Schriftführer zu unterschreiben ist.</p>

        <h3 class="text-lg font-bold text-gray-600">§ 7 Vorstand</h3>
        <p>Der Vorstand besteht im Sinne des § 26 BGB aus 1 Vorsitzenden, 1 stellvertretenden Vorsitzenden und 1 Schatzmeister. Der Vorstand entscheidet intern über seine Arbeitsaufteilung. Der Verein wird gerichtlich und außergerichtlich durch ein Vorstandsmitglied vertreten. Der Vorstand wird von der Mitgliederversammlung auf die Dauer von zwei Jahren gewählt; er bleibt jedoch so lange im Amt, bis eine Neuwahl erfolgt ist.</p>
        <p>Die Haftung des Vorstands gegenüber dem Verein wird auf Schäden beschränkt, die auf vorsätzlichen oder grob fahrlässigen Verletzungen seiner Geschäftsführungspflichten beruhen. Der Verein stellt den Vorstand von Schadensersatzansprüchen Dritter frei, soweit diese nicht Schäden zum Gegenstand haben, welche durch den Vorstand vorsätzlich (oder grob fahrlässig) verursacht wurden.</p>

        <h3 class="text-lg font-bold text-gray-600">§ 8 Aufgaben des Vorstandes</h3>
        <p>Der Vorstand ist verantwortlich für die ordnungsgemäße Verwaltung aller Ämter und die satzungsgemäße Erfüllung der Aufgaben des Vereins. Er ist gesetzlicher Vertreter im Sinne des §26 BGB.</p>
        <p>Dem Vorstand obliegen insbesondere folgende Aufgaben:</p>
        <p>Er fördert die Zusammenarbeit der Mitglieder im Sinne des Vereins.</p>
        <p>Er bereitet die Beschlüsse der Mitgliederversammlung vor und vollzieht sie.</p>
        <p>Er verantwortet die Verwaltung des Vereinsvermögens und die Anfertigung des Jahresberichtes.</p>
        <p>Er berichtet der Mitgliederversammlung mindestens einmal im Jahr über die wesentlichen Aktivitäten des Vereins.</p>
        <p>Er entscheidet über die Aufnahme neuer Mitglieder.</p>
        <p>Der Vorstand tritt nach Bedarf zusammen. Die Sitzungen werden vom 1. Vorsitzenden, bei dessen Verhinderung vom stellvertretenden Vorsitzenden, einberufen. Eine Einberufungsfrist von einer Woche soll eingehalten werden. Der Vorstand ist beschlussfähig, wenn mindestens zwei Mitglieder anwesend sind. Bei der Beschlussfassung entscheidet die Mehrheit der abgegebenen gültigen Stimmen. Bei Stimmengleichheit entscheidet die Stimme des 1. Vorsitzenden, bei dessen Verhinderung die des stellvertretenden Vorsitzenden.</p>
        <p>Die Beschlüsse des Vorstandes sind zu protokollieren. Das Protokoll ist vom Protokollführer sowie vom 1. Vorsitzenden, bei dessen Verhinderung vom stellvertretenden Vorsitzenden zu unterschreiben. Protokollführer ist ein beliebiges Vorstandsmitglied.</p>
        <p>Der Schatzmeister verwaltet die Vereinskasse und führt Buch über die Einnahmen und Ausgaben. Er muss hierüber jederzeit Rechenschaft ablegen können.</p>

        <h3 class="text-lg font-bold text-gray-600">§ 9 Datenschutzbestimmung</h3>
        <p>Die Erhebung und Verarbeitung personenbezogener Daten der Mitglieder durch den Verein erfolgt nur, soweit dies zur Erfüllung des Satzungszweckes erforderlich ist oder im Einzelfall eine ausdrückliche Einwilligung des Betroffenen vorliegt. Die Erhebung und Verarbeitung personenbezogener Daten erfolgt im Rahmen der Bestimmungen des Bundesdatenschutzgesetzes.</p>

        <h3 class="text-lg font-bold text-gray-600">§ 10 Auflösung</h3>
        <p>Die Auflösung des Vereins kann nur in einer Mitgliederversammlung mit einer Mehrheit von 3/4 der abgegebenen gültigen Stimmen beschlossen werden.</p>
        <p>Falls die Mitgliederversammlung nichts anderes beschließt, sind der Vorsitzende und einer der stellvertretenden Vorsitzenden gemeinsam vertretungsberechtigte Liquidatoren.</p>
        <p>Das nach Beendigung der Liquidation vorhandene Vermögen wird wohltätigen Zwecken zugeführt. Dies gilt entsprechend, wenn der Verein aus einem anderen Grund aufgelöst wird oder seine Rechtsfähigkeit verliert.</p>

        <h3 class="text-lg font-bold text-gray-600">§ 11 Gründungsmitglieder</h3>
        <p>Zum heutigen Datum, Mittwoch, den 20. Juli 2016, beschließen folgende anwesende Gründungmitglieder die Vereinsgründung der PHP USERGROUP DRESDEN.</p>
        <p>Achim Sperling</p>
        <p>Alexander Hippe</p>
        <p>Holger Woltersdorf</p>
        <p>Marcel Führer</p>
        <p>Patrick Pächnatz</p>
        <p>Ralf Junghanns</p>
        <p>Sandro Keil</p>
        <p>Tommy Mühle</p>

        <p>— Vereinssatzung Stand 20. Juli 2016</p>
    </main>
</BaseLayout>
