---
import {getCollection} from "astro:content";
import SponsorCard from "./SponsorCard.astro";
import type {Sponsor} from "../types/event.ts";

const sponsors = await getCollection('sponsors');

---
<article class="bg-white rounded-lg shadow-sm border border-gray-200 p-6">
    <h2 class="text-2xl font-bold text-gray-900 mb-2">Sponsoren</h2>
    <div class="grid grid-cols-4 gap-4">
        {sponsors.map((sponsor: Sponsor) => (
            <SponsorCard sponsor={sponsor} />
        ))}
    </div>
</article>
